


body{
    background-color: aliceblue;
}



.heder{
    display: flex;
}


.hitphone{
    margin-left: 90px;
    align-items: center;
    margin-top: 40px;
    font-size: 50px;
}


.Cure {

    margin-left: 60px;
    margin-top: -100px;
}



.links{
    margin-top: 40px;
    margin-left: 45%;
  
}


.links>:hover{
    color: blue;
}






.links>a{
    direction: none ;
    color:rgba(0, 0, 0, 0.712) ;
    text-decoration: none;
}


.linktoo{
    margin-left: 40px;

}

.bookbutton{
    
    margin-left: 50px;
    border-radius: 70px;
    border: 5px;
    color: white;
    background-color: rgb(0, 132, 255);
    text-align: center;
    height: 50px;
    width:250px;
}

 /*بدي ابلش عند يا مرحبا دكتور */


.introduction{
    margin-left: 90px;
    margin-top: 100px;
}

.imgrsc {

    background-color: white;
    margin-left: 40%;
    margin-top: -350px;
    width: 500px;


}

.imgo{
height: 500px;
width: 800px;
}

 /*بلشت هون بلشريط الازرق */


.buttons{
    display: flex;
    background-color: rgb(0, 132, 255) ;
    margin-left: ;
}
.button1{
    margin-left: 30px;
    border-color: rgb(255, 255, 255);
    border: 60px;
    border-radius:10px;
    height: 30px;
    width: 290px;
    text-align: center;
    margin-top: 25px;
    background-color:rgb(0, 132, 255)  ;
    color: white;
    border-color: whitesmoke;
    font-size: 20px;
}
.button2{

    margin-left: 30px;
    border-color: rgb(255, 255, 255);
    border: 60px;
    border-radius:10px;
    height: 30px;
    width: 290px;
    text-align: center;
    margin-top: 25px;
    background-color:rgb(0, 132, 255)  ;
    color: white;
    border-color: whitesmoke;

    font-size: 20px;
}



.button3{
    margin-left: 30px;
    border-color: rgb(255, 255, 255);
    border: 60px;
    border-radius:10px;
    height: 30px;
    width: 290px;
    text-align: center;
    margin-top: 25px;
    background-color:rgb(0, 132, 255)  ;
    color: white;
    border-color: whitesmoke;
    font-size: 20px;
}


