
body{
    background-color: aliceblue;
}




.service{
    margin-left: 36%;
   
}


.services{
    display: flex; 
    margin-left: 100px;
    margin-top: 100px;
}


.service1{
    background-color: white;
    margin-left: 80px;
    border-color: white;
}


.service1>img{
    width: 100px;
    border-radius: 60px;
    z-index: 0;
    margin-top: -30px;                  
}

.service2{

    background-color:rgb(0, 132, 255) ;

margin-left: 60px;
border-radius: 10px;
    }

    .service2>img{
        width: 100px;
        border-radius: 60px;
    border-color:rgb(0, 132, 255) ;
    z-index: 0;
    margin-top: -30px;

    }




    
    .teams{

        display: flex;
        background-color: white;
        margin-left: 170px;
        background-color: aliceblue;
        
        }
        
        
        .team1>img{
        
        width: 250px;
        height: 250px;
        z-index: 1;
        
        
        }
        .name1{
            margin-left: 30px;
        }
        
        .name2{
            margin-left: 30px;
        }
        
        .name3{
            margin-left: 30px;
        }
        
        
        .point{
            margin-left: 700px;
        }
        



        /* التحكم في التنقل */







        /* For screens smaller than 768px 
@media only screen and (max-width: 768px) {
    .service {
        margin-left: 10%;
    }

    .services {
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
    }

    .service1, .service2 {
        margin-left: 0;
        margin-top: 10px;
    }

    .service1 > img, .service2 > img {
        width: 70px;
    }

    .teams {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .team1 > img {
        width: 150px;
        height: 150px;
    }

    .point {
        margin-left: 0;
    }
}*/

/* For screens smaller than 480px 
@media only screen and (max-width: 480px) {
    .service {
        margin-left: 0;
    }

    .services {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .service1, .service2 {
        margin-left: 0;
        margin-top: 10px;
    }

    .service1 > img, .service2 > img {
        width: 60px;
    }

    .teams {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .team1 > img {
        width: 120px;
        height: 120px;
    }

    .point {
        margin-left: 0;
    }*/